vm = {
  name        = "ArgusHack-DB"
  hw          = {
    type        = "ubuntu-64"
    cpus        = 4
    mem         = 8192
    version     = "17"
  }
  disk        = {
    adapter     = "scsi"
    type        = "thin"
    size        = 81920
  }
  network     = {
    adapter     = "vmxnet3"
    name        = "VM Network"
    hostname    = "agh-db"
    ip          = "10.120.2.2/16"
    gateway     = "10.120.0.1"
    nameserver  = "10.120.0.1"
  }
  instance      = {
    language      = "en_US"
    keyboard      = "us"
    timezone      = "UTC"
    remove_cdrom  = true
    upgrade_tools = true
    cdrom_type    = "sata"
    http_port     = {
      min         = 8000
      max         = 8099
    }
  }
  iso         = {
    urls        = [
      "artifacts/images/ubuntu-20.04.4-live-server-amd64.iso",
      "https://releases.ubuntu.com/focal/ubuntu-20.04.4-live-server-amd64.iso"
    ]
    hash        = "sha256"
    checksum    = "28ccdb56450e643bad03bb7bcf7507ce3d8d90e8bf09e38f6bd9ac298a98eaad"
  }
  auth        = {
    username           = "agh-db"
    password           = "password"
    password_encrypted = "$6$4096$B4rZCyN5MXGeiTXK0Oe47FfKBcnuvSO2FbRTsq0U8Ms/w4U8gB.UAlXrV75zw3csrWMUAl9A6dEOT4Cl8DCrY1"
    ssh_port           = 22
    ssh_timeout        = "30m"
  }
  provision     = {
    ip_wait_timeout    = "20m"
    shutdown_timeout   = "15m"
    scripts            = []
    setup              = [
      "./scripts/db/00-install-postgress.sh",
      "./scripts/db/01-setup-postgress.sh",
      "./scripts/db/02-setup-firewall.sh",
      "./scripts/db/03-setup-databases.sh",
      "./scripts/minio/00-install-minio.sh",
      "./scripts/minio/01-setup-minio.sh",
      "./scripts/minio/02-setup-minio-policy.sh",
    ]
    seeding            = [
      "./scripts/db/04-seed-databases.sh",
    ]
    check              = []
    files              = [
      "./artifacts/db/attack.sql",
      "./artifacts/db/ATTACK-mitre_groups.sql",
      "./artifacts/db/ATTACK-os.sql",
      "./artifacts/db/ATTACK-mitre_techniques.sql",
      "./artifacts/json/IAMpolicy.json",
      "./artifacts/config/sources.list",
    ]
    env                = [
      "MINIO_ROOT_USER=minio",
      "MINIO_ROOT_PASSWORD=minio-password",
      "DB_USER=agh",
      "DB_PASSWORD=password",
      "MINIO_CORE_USER=core-minio-user",
      "MINIO_CORE_PASSWORD=core-minio-password",
      "MINIO_CAPT_USER=capt-minio-user",
      "MINIO_CAPT_PASSWORD=capt-minio-password",
    ]
  }
}