vm = {
  name        = "AGH-DB"
  hw          = {
    type        = "ubuntu-64"
    cpus        = 8
    mem         = 16384
    version     = "19"
  }
  disk        = {
    adapter     = "scsi"
    type        = "thin"
    size        = 81920
  }
  network     = {
    adapter     = "vmxnet3"
    name        = "Lab VM Network"
    hostname    = "agh-db"
    ip          = "10.120.2.2/16"
    netmask     = "10.120.0.1"
    gateway     = "10.120.0.1"
    nameserver  = "10.120.0.1"
  }
  instance      = {
    language      = "en_US"
    keyboard      = "us"
    timezone      = "UTC"
    remove_cdrom  = true
    upgrade_tools = true
    cdrom_type    = "sata"
    http_port     = {
      min         = 8000
      max         = 8099
    }
  }
  iso         = {
    urls        = [
      "artifacts/images/ubuntu-20.04.4-live-server-amd64.iso",
      "https://releases.ubuntu.com/focal/ubuntu-20.04.4-live-server-amd64.iso"
    ]
    hash        = "sha256"
    checksum    = "28ccdb56450e643bad03bb7bcf7507ce3d8d90e8bf09e38f6bd9ac298a98eaad"
  }
  auth        = {
    username           = "agh-db"
    password           = "password"
    password_encrypted = "$6$4096$B4rZCyN5MXGeiTXK0Oe47FfKBcnuvSO2FbRTsq0U8Ms/w4U8gB.UAlXrV75zw3csrWMUAl9A6dEOT4Cl8DCrY1"
    ssh_port           = 22
    ssh_timeout        = "30m"

  }
  provision     = {
    ip_wait_timeout    = "20m"
    shutdown_timeout   = "15m"
    scripts = [
      "./scripts/install-postgress.sh",
    ]
  }
}