// vSphere Credentials
vc--endpoint            = "vsphere.local"
vc--username            = "administrator@vsphere.local"
vc--password            = "VMware123!"
vc--insecure_connection = true

// vSphere Settings
vc--datacenter = "Datacenter"
vc--datastore  = "Datasore"
vc--network    = "VM Network"
vc--folder     = "templates/packer/ubuntu"


// Virtual Machine Settings
vc--vm_version           = 19
vc--tools_upgrade_policy = true
vc--remove_cdrom         = true

// Boot and Provisioning Settings
vm--http_port_min    = 8000
vm--http_port_max    = 8099
vm--ip_wait_timeout  = "20m"
vm--shutdown_timeout = "15m"
