vm = {
  name        = "ArgusHack-Server-M01"
  hw          = {
    type        = "ubuntu-64"
    cpus        = 8
    mem         = 16384
    version     = "17"
  }
  disk        = {
    adapter     = "scsi"
    type        = "thin"
    size        = 81920
  }
  network     = {
    adapter     = "vmxnet3"
    name        = "VM Network"
    hostname    = "agh-server-m01"
    ip          = "10.120.2.1/16"
    netmask     = "255.255.0.0"
    gateway     = "10.120.0.1"
    nameserver  = "10.120.0.1"
  }
  instance      = {
    language      = "en_US"
    keyboard      = "us"
    timezone      = "UTC"
    remove_cdrom  = true
    upgrade_tools = true
    cdrom_type    = "sata"
    http_port     = {
      min         = 8000
      max         = 8099
    }
  }
  iso         = {
    urls        = [
      "artifacts/images/ubuntu-20.04.4-live-server-amd64.iso",
      "https://releases.ubuntu.com/focal/ubuntu-20.04.4-live-server-amd64.iso"
    ]
    hash        = "sha256"
    checksum    = "28ccdb56450e643bad03bb7bcf7507ce3d8d90e8bf09e38f6bd9ac298a98eaad"
  }
  auth        = {
    username           = "agh-user"
    password           = "password"
    password_encrypted = "$6$4096$B4rZCyN5MXGeiTXK0Oe47FfKBcnuvSO2FbRTsq0U8Ms/w4U8gB.UAlXrV75zw3csrWMUAl9A6dEOT4Cl8DCrY1"
    ssh_port           = 22
    ssh_timeout        = "30m"
  }
  provision     = {
    ip_wait_timeout    = "20m"
    shutdown_timeout   = "15m"
    scripts            = []
    setup              = [
      "./scripts/cluster/00-install-k3s.sh",
      "./scripts/cluster/01-setup-k3s.sh",
      "./scripts/cluster/02-generate-deployment.sh",
      "./scripts/cluster/03-install-helm.sh",
      "./scripts/cluster/04-install-agh.sh",
    ]
    seeding            = []
    files              = [
      "./artifacts/config/sources.list",
    ]
    env                = [
      "K3S_VERSION=v1.21.10+k3s1",
      "JWT_SECRET=something_random",
      "KEYGEN_API_TOKEN=",
      "KEYGEN_ACCOUNT_ID=",
      "DB_IP=10.120.2.2",
      "DB_USER=agh",
      "DB_PASSWORD=password",
      "MINIO_CORE_USER=core-minio-user",
      "MINIO_CORE_PASSWORD=core-minio-password",
      "MINIO_CAPT_USER=capt-minio-user",
      "MINIO_CAPT_PASSWORD=capt-minio-password",
      "IMAGE_CREDENTIAL_USER=image-credential-user",
      "IMAGE_CREDENTIAL_PASSWORD=image-credential-password",
    ]
  }
}